
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    background: rgba(0, 0, 0, 0.874);
    font-size: Arial, Helvetica, sans-serif;
        
}

.aba-cadastrar{
    background-color:#1c1c1cf6;
    width: 450px;
    height: 500px;
    border-radius: 20px;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: none; */
}

.input-cadastrar {
    display: block;
    background-color: transparent;
    width: 340px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #D7DDE8;
    transform: translate(50px,130px);
    outline:none;
    color: white;
    margin-bottom: 20px;
}

.btn-cadastrar{
    display: block;
    position: absolute;
    width: 340px;
    height: 30px;
    background-color: transparent;
    color: white;
    border-color: #D7DDE8;
    border-radius: 4px;
    transform: translate(50px,150px);
    cursor: pointer;
}

.linha-h1 {
    width: 120px;
    height: 1px;
    background:linear-gradient(136deg, rgba(255, 0, 198, 1) 0%, rgba(255, 255, 0, 1) 100%);     
    transform: translate(165px,100px);
    border-radius: 1px;
}

.campo-cadastro{
    color: green;
    width: 60%;
    border-radius: 10px;
    font-size:13px;
    text-align: center;
    transform: translate(35%,30px);
    display: none;
}

.aba-login {
    background-color:#1c1c1cf6;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.linha{
    width: 85px;
    height: 1px;
    background:linear-gradient(136deg, rgba(255, 0, 198, 1) 0%, rgba(255, 255, 0, 1) 100%);     
    transform: translate(183px,100px);
    border-radius: 1px;
}

.login{
    color: white;
    text-align: center;
    transform: translate(0px,100px);
    margin-bottom: 5px;
}

.input-user {
    display: block;
    background-color: transparent;
    width: 340px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #D7DDE8;
    transform: translate(50px,130px);
    outline:none;
    color: white;
    padding-left: 35px;
    margin-bottom: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.person {
    position: relative;
    float: right;
    color: rgba(0, 0, 255, 0.596);
    transform: translate(-370px,82px);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.693);
}

.material-symbols-outlined.md-36 {
    font-size: 21px;
}

.btn-enter{
    display: block;
    position: absolute;
    width: 340px;
    height: 30px;
    background-color: transparent;
    color: white;
    border-color: #D7DDE8;
    border-radius: 4px;
    transform: translate(50px,150px);
    cursor: pointer;
}

.overlay{
    position: absolute;
    height: 28%;
    width: 100%;
    background:linear-gradient(136deg, rgba(255, 0, 198, 1) 0%, rgba(255, 255, 0, 1) 100%);     
    border-radius: 10px 10px 10px 10px;
}

.card{
    background-color:#1c1c1cf6;
    box-shadow: 0px 1px 10px 1px #000;
    width: 360px;
    height: 450px;
    border-radius: 10px;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation-name: animimacao;
    animation-duration: 1.2s;
    animation-direction: normal;
}

@keyframes animimacao {
    from {
        transform: translate(-50%);
      }
}

.hole{
    width: 65px;
    height: 6px;
    background: rgba(0, 0, 0, 0.874);
    transform: translate(142px,18px);
    border-radius: 10px;
}

.range {
    background:linear-gradient(136deg, rgba(255, 0, 198, 1) 0%, rgba(255, 255, 0, 1) 100%); 
    width: 56px;
    height: 150%;
    position:absolute;
    transform: translate(147px,-655px);
    border-radius: 3px;
    z-index: 100;
}

.close {
    color: rgba(255, 0, 198, 1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 300px;
    cursor: pointer;
}

.image-inform img{
    height: 30%;
    width: 30%;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    border: 3px solid #fff;
    transform: translate(115px,25px);

}

.titulo {
    color: white;
    text-align: center;
    transform: translate(0px, 45px);
    font-size: 16px;
}

.btn-address{
    width: 30%;
    height: 30px;
    border-radius: 4px;
    position: fixed;
    margin-left: -161px;
    border: none;
    top: 229px;
    left: 170px;
    background: #8080804c;
    color: white;
    cursor: pointer;
}

.btn-sobre{
    width: 30%;
    height: 30px;
    border-radius: 4px;
    position: fixed;
    margin-left: -52px;
    border: none;
    top: 229px;
    left: 177px;
    background: linear-gradient(136deg, rgba(255, 0, 198, 1) 0%, rgba(255, 255, 0, 1) 100%);
    color: white;
    cursor: pointer;
}

.btn-company {
    width: 30%;
    height: 30px;
    border-radius: 4px;
    position: fixed;
    margin-left: 57px;
    top: 229px;
    left: 184px;
    border: none;
    background-color: #8080804c;
    color: white;
    cursor: pointer;
}

.inform-address {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    display: none;
    transform: translate(20px, 130px);
    color: rgba(255, 255, 255, 0.766); 
}

.inform-sobre {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    display: block;
    transform: translate(17px, 130px);
    color: rgba(255, 255, 255, 0.766); 
}

.inform-company {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    align-items: center;
    display: none;
    transform: translate(7px, 140px);
    color: rgba(255, 255, 255, 0.766);  
}

.campo-obrigatorio{
    color: red;
    font-size: 9px;
    text-align: left;
    margin-top: 140px;
    margin-left: 50px;
    display: none
}

@media screen and (max-width: 462px){

    .aba-login {
        background-color:transparent;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation-name: none;

    }

    .aba-cadastrar{
        background-color:transparent;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 354px){

    .aba-login {
        background-color:transparent;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .image-inform img{
        height: 30%;
        width: 30%;
        transform: translate(85px,45px);
    
    }

    .hole{
        width: 65px;
        height: 6px;
        transform: translate(95px,18px);
   }
    
    .range {
        transform: translate(100px,-655px);
    
    }

    .close {
        padding-left: 200px;
    }

    .btn-enter{
        width: 250px;
        height: 30px;
        transform: translate(98px,150px);
    }

    .input-user {
        width: 250px;
        height: 30px;
        transform: translate(100px,130px);
    }

    .person {
        position: relative;
        float: right;
        color: rgba(0, 0, 255, 0.596);
        transform: translate(-325px,82px);
        cursor: pointer;
        color: rgba(255, 255, 255, 0.693);
    }

    .campo-obrigatorio{
        margin-top: 140px;
        margin-left: 100px;
        font-size: 8px;
    }

    .card{
        width: 250px;
        height: 450px;
    }
    

    .btn-address{
        width: 20%;
        height: 30px;
        margin-left: -150px;
    }
    
    .btn-sobre{
        width: 20%;
        height: 30px;
        margin-left: -75px;
    }
    
    .btn-company {
        width: 24%;
        height: 30px;
        margin-left: -5px;
    } 

    .inform-address {
        transform: translate(10px, 150px);
    }
    
    .inform-sobre {
        transform: translate(10px, 150px);
    }
    
    .inform-company {
        transform: translate(3px, 150px); 
    }
}