*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito Sans', sans-serif;
    background-image: radial-gradient(circle at 50%, #c0d6ff 0, #9db9f2 50%, #799ddd 100%);
}

.aba-login {
    background-color:#1c1c1cf6;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    align-items: center;
    position: relative;
    transform: translate(0px,150px);
    display: none;
}

.linha{
    width: 85px;
    border: 1px solid #D7DDE8;
    transform: translate(183px,100px);
    border-radius: 1px;
}

.login{
    color: white;
    text-align: center;
    transform: translate(0px,100px);
    margin-bottom: 5px;
}

.input-user {
    display: block;
    background-color: transparent;
    width: 340px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #D7DDE8;
    transform: translate(50px,130px);
    outline:none;
    color: white;
    padding-left: 35px;
    margin-bottom: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.person {
    position: relative;
    float: right;
    color: rgba(0, 0, 255, 0.596);
    transform: translate(-370px,82px);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.693);
}

.material-symbols-outlined.md-36 {
    font-size: 21px;
}

.btn-enter{
    display: block;
    position: absolute;
    width: 340px;
    height: 30px;
    background-color: transparent;
    color: white;
    border-color: #D7DDE8;
    border-radius: 4px;
    transform: translate(50px,150px);
}

.overlay{
    position: absolute;
    height: 28%;
    width: 100%;
    background:#8080804c;    
    border-radius: 10px 10px 10px 10px;
}

.card{
    background-color:#1c1c1cf6;
    box-shadow: 0px 1px 10px 1px #000;
    width: 350px;
    height: 450px;
    border-radius: 10px;
    align-items: center;
    position: relative;
    transform: translate(0px,150px);
}

.faixa{
    width: 65px;
    height: 6px;
    background:radial-gradient(circle at 50%, #c0d6ff 0, #9db9f2 50%, #799ddd 100%);
    transform: translate(142px,18px);
    border-radius: 10px;
}

.vertical {
    border-left: 55px solid #1c1c1cf6;
    height: 200px;
    position:absolute;
    transform: translate(147px,-180px);
    border-radius: 3px;
    z-index: 100;
}

.image-inform img{
    height: 30%;
    width: 30%;
    object-fit: cover;
    position: relative;
    border-radius: 50%;
    border: 3px solid #fff;
    transform: translate(115px,50px);

}

.titulo {
    color: white;
    text-align: center;
    transform: translate(0px, 70px);
    font-size: 16px;
}

.inform-card {
   display: flex;
   justify-content: center;
   align-items: center;
   transform: translate(0px, 90px);
   
}

.btn-address{
    width: 30%;
    height: 30px;
    border-radius: 4px;
    position: fixed;
    margin-left: -161px;
    border: none;
    background-color: #8080804c;
    color: white;
}

.btn-sobre{
    width: 30%;
    height: 30px;
    border-radius: 4px;
    position: fixed;
    margin-left: -52px;
    border: none;
    background-color: #8080804c;
    color: white;
}

.btn-company {
    width: 30%;
    height: 30px;
    border-radius: 4px;
    position: fixed;
    margin-left: 57px;
    border: none;
    background-color: #8080804c;
    color: white;
}